*~
CMakeCache*
CMakeFiles*
cmake_install.cmake
*.o
Makefile
cscope*
*.so
*.so.*
*.a
moc_*
*automoc.cpp
install_manifest.txt
doc/doxygen
*.moc
*.*_parameters
\#*\#
tools/repair_rpm_db.c
tools/repair_rpm_db
sailfish-tiny-tools
utilities.json
tools/config.hpp
