[Desktop Entry]
Type=Application
Name=Tiny Tools
Icon=icons-Applications-filemanager
Exec=cutes /usr/share/sailfish-tiny-tools/Main.qml
Comment=Sailfish Tiny Tools
X-Desktop-File-Install-Version=0.20
